:root {
  --gray-color: #f5f6f6;
  --white-color: #ffffff;
  --text-primary-color: rgb(48, 56, 65);
  --text-secondary-color: #3a4750;
  --placeholder-color: rgba(58, 71, 80, 0.1);
  --yellow-color: #ea9215;
  --background-yellow-color: #fcefdc;
  --blue-color: #01baef;
  --background-blue-color: #d6ecf0;
  --green-color: #499f68;
  --background-green-color: #e4f1e8;
  --red-color: #ec0b43;
  --background-red-color: #e6c5cd;
}

//$primary: $turquoise
$info: var(--blue-color);
$link: $info;
$success: var(--green-color);
$warning: var(--yellow-color);
$danger: var(--red-color);
//$dark: $grey-darker
$text: #3a4750;
$text-strong: #303841;
$background: #ffffff;

$box-radius: 1rem;
$box-shadow: 0 0 15px 4px rgba(48, 56, 65, 0.075);
$box-padding: 30px;
$notification-radius: 1rem;
$button-border-width: 0;

@import "../../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-input {
  border-radius: 999px;
}

.is-fullwidth {
  width: 100%;
}

.is-fullheight {
  height: 100% !important;
}

.table {
  thead {
    tr {
      th {
        padding: 1rem 1rem;
      }
    }
  }
  .narrow-cell {
    width: 1%;
  }
  td {
    padding: 0.5rem 1rem;
    vertical-align: middle;
  }
}
.date-picker {
  height: 40px;
  border-radius: 999px;
  padding: 0 1rem;
}

.ti-tag {
  padding: 0.5rem 1rem !important;
}

.vue-tags-input {
  max-width: 600px;
}

.ti-input {
  border-radius: 1rem !important;
}

.ti-autocomplete {
  max-height: 250px;
  overflow-y: auto;
}

.ti-tag {
  border-radius: 999px !important;
  background-color: var(--yellow-color) !important;
}

.tooltip {
  z-index: 99999999;
  background-color: var(--text-secondary-color);
  color: var(--white-color);
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  max-width: 300px;
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: var(--text-secondary-color);
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
}

div.v-dropdown-container {
  box-shadow: none !important;
  border: 1px solid hsl(0, 0%, 86%) !important;
  border-top: none !important;
}

div.sg-clear {
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
  height: 100%;
  width: auto;
  line-height: 1.25;
  padding: 6px 0;
  font-size: 21px;
  color: #999;
  span {
    display: inline-block;
  }
  &:hover {
    color: #000;
  }
}

ul.sg-results {
  max-height: 300px;
  overflow-y: auto;
  padding: 0 0;
  margin: 0;
  li.sg-results__row {
    height: auto !important;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: left;
    /*white-space: nowrap;*/
    white-space: normal;
    word-break: break-all;
    font-size: 14px;
    color: #333;
    cursor: default;
    &.sg-over {
      background-color: var(--blue-color) !important;
      color: var(--white-color) !important;
      cursor: pointer;
    }
  }
}
